.ui.borderless.menu {
  box-shadow: none;
  border: none;
}

.murphy-background {
  background: url('http://murphyshawaii.com/media/2014/04/murphys-front.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 700px;
}

.column {
  margin-top: 75px;
  color: white;
}